.wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.login {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}

.error {
  color: red;
}

.help {
  position: absolute;
  top: 10px;
  left: 10px;
}
